.menuSection {
    margin-bottom: 12px;
  }
  
  .sectionTitle {
    color: var(--techzaa-getappui-com-manatee, #9097a7);
    text-transform: uppercase;
    letter-spacing: 0.55px;
    font: 700 11px Play, sans-serif;
    padding: 10px 6px;
  }
  
  .menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }